service: missing-children

frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  region: us-west-2
  stage: dev
  environment:
    DYNAMODB_TABLE_MISSING_CHILDREN: missing_children
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:DescribeTable
          Resource:
            - 'arn:aws:dynamodb:*:*:table/${self:provider.environment.DYNAMODB_TABLE_MISSING_CHILDREN}'
            - 'arn:aws:dynamodb:*:*:table/${self:provider.environment.DYNAMODB_TABLE_MISSING_CHILDREN}/index/*'

functions:
  scrapper:
    timeout: 15
    handler: dist/functions/scrapper.handler
    events:
      - schedule: rate(7 days)
  getMissingChildren:
    handler: dist/functions/getMissingChildren.handler
    events:
      - httpApi:
          method: 'GET'
          path: /getMissingChildren/{nextKey?}
          request:
            parameters:
              paths:
                nextKey: false
          cors: true

package:
  include:
    - dist/**
  exclude:
    - src/**

plugins:
  - serverless-offline
